[submodule "lib/KamiToolKit"]
	path = lib/KamiToolKit
	url = https://github.com/MidoriKami/KamiToolKit.git
[submodule "lib/KamiToolKit.Components"]
	path = lib/KamiToolKit.Components
	url = https://github.com/MidoriKami/KamiToolKit.Components
